body {
    background-color: whitesmoke;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

h1{
    font-weight: lighter;
}

.subtitulo{
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.btn_login{
    margin-top: 1rem;
    gap: 1rem;
}